<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travell Planner</title>
</head>
<body>
    <div class="container">
        <h1>Travel Planner</h1>
        
        <form id="trip-form" class="form-section">
            <label for="location">Enter your destination: </label>
            <input type="text" id="location" placeholder="example : Jerusalem, Palestine" required>
            
            <label for="departure-date">Enter departure date :</label>  
            <input type="date" id="departure-date" required>
            
            <button type="submit" id="button-submit">Plan My Trip</button>
        </form>
        
        <div class="trip-details" id="trip-details">
            <img id="location-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToHEhkTw7tnGlR1taYOH87wXsUEWtd-FNJFw&s" alt="Location Image">
            <p class="bold">The trip to : <span id="trip-location">  </span></p>
            <p class="bold">Departing on : <span id="trip-date">  </span></p>
            <p>Days countdown: <span id="countdown"> </span></p>

            <p>Weather Forecast: <span id="weather-info">---</span></p>


            <div class="button-group">

                <button class="save-trip">Save Trip</button>

                <button class="remove-trip">Remove Trip</button>

            </div>
        </div>
    </div>
</body>
</html>